TOKENHUB_API_KEY=replace-in-cloud-function-console
RECIPE_MODEL=hy3
RECIPE_PROMPT_VERSION=v1
ASR_SECRET_ID=replace-in-cloud-function-console
ASR_SECRET_KEY=replace-in-cloud-function-console
ASR_SESSION_TOKEN=
ASR_REGION=ap-shanghai
ASR_ENGINE=16k_zh
